[Unit]
Description=Component Sidecar Config
Wants=network-online.target
After=network-online.target
Before=jitsi-component-sidecar.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/component-sidecar-config

[Install]
WantedBy=multi-user.target
